body {
    background-color: #fefcf9;
    font-family: Georgia;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ebdada;
    border-bottom: 4px solid #a2798f;
}

li {
    float: left;
    font-size: 15px
}

li a {
    display: block;
    color: 	#464545;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -o-transition:.45s;
    -ms-transition:.45s;
    -moz-transition:.45s;
    -webkit-transition:.45s;
    transition:.45s;
}

li a:hover {
    background-color: #a2798f;
    color: #ebdada;
    padding: 14px 19px;
    font-size: 16px
}

.active {
    background-color: #a2798f;
    color: #ebdada;
    padding: 14px 19px;
    font-size: 16px;
}

li:last-child {
    border-left: 1px solid #D3C4C4;
}

#header-background{
  width: 100%; 
  height: 200px;
  background: url ('https://gdurl.com/LYMp');
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover; 
}

body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;}
