/*Imporant CSS*/
body {
    background-color: #fefcf9;
    font-family: Georgia;
}

html, body{
  padding: 0;
  margin: 0;
}

body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;}

/*Fade in for everyting*/
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
         
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
         
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
         
  .fadeIn {
 -webkit-animation-name: fadeIn;
 animation-name: fadeIn;
}
/*End Fade in for everything*/
/*End important CSS*/

/*Nav Bar CSS*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ebdada;
    border-bottom: 4px solid #a2798f;
  width: 100%;
}

li.nav {
    float: left;
    font-size: 15px
}

li.nav a {
    display: block;
    color: 	#464545;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -o-transition:.45s;
    -ms-transition:.45s;
    -moz-transition:.45s;
    -webkit-transition:.45s;
    transition:.45s;
}

li.nav a:hover {
    background-color: #a2798f;
    color: #ebdada;
    padding: 14px 19px;
    font-size: 16px
}

li.nav .active {
    background-color: #a2798f;
    color: #ebdada;
    padding: 14px 19px;
    font-size: 16px;
}

li.nav:last-child {
    border-left: 1px solid #D3C4C4;
}
/*End nav bar CSS*/

/*Header/Banner CSS*/
#header-background{
  width: 100%; 
  height: 200px;
  background: url('https://gdurl.com/LYMp');
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover; 
}
/*End header/banner CSS*/

/*Form CSS*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

div.container {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #464545;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #a2798f;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px;
}

h1.Contact {
  color: #464545;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #464545;
  margin: -0.512em auto;
  width: 80px;
}

.email {
	float: right;
	width: 45%;
}

.gender {
  float: left;
  width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #a2798f;
	color: #464545;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
  cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  float: right;
  width: 45%;
}

.antispammessage {
  padding: 80px 0px;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #464545;
}

:-moz-placeholder { 
	color: #464545;
	opacity: 1;
}

::-moz-placeholder {
	color: #464545;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #464545;
}

#form_button {
  background: none;
  border: solid 2px #a2798f;
  color: #464545;
  cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #ebdada;
  color: #464545;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
/*End form CSS*/


/*Footer CSS*/
.footer-distributed {
  background-color: #ebdada;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 700px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #a2798f;
  font: normal 36px "Cookie", cursive;
  margin: 0px;
}

.footer-distributed h3 span {
  color: 	#a2798f;
}

/* Footer links */

.footer-distributed .footer-links {
  color: 	#464545;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a:hover {
  color: 	#a2798f;
}

.footer-distributed .footer-links .active {
  color: 		#a2798f;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #7e9997;
  color: #7e9997;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #464545;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #464545;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #464545;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #464545;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #8caba8;
  border-radius: 2px;

  font-size: 20px;
  color: 	#fefcf9;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #a2798f;
}

.fa {
  border-radius: 50%;
}

.fa-instagram .fa-github {
  background: #8caba8;
  color: #fefcf9;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/*End Footer CSS*/

/*About CSS*/
p.about-title {
  margin-top: 20px;
  margin-left: 80%;
  font-size: 30px;
  padding: 0px;
  font-family: Impact, Charcoal, sans-serif;
}

img.prof-image {
  width: 50%;
  margin-top: 0px;
  height: 50%;
  padding: 10px 40px;
  
}
.about .desc h1 {
  font-family:'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.desc{
  width: 50%;
  margin-left: 50px;
  margin-top: 5px;
  padding: 0px;
}
.about .desc ul {
  font-family: Optima;
  font-size: 16px;
  text-align: left;
}

.about .desc p {
  font-family: Optima;
  font-size: 16px;
}

.mainCont{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*End About CSS*/

/*Skills CSS*/
.container-skill{
  float: right;
  max-width: 600px;
  margin: 40px auto;
  background-color: #f7f0f0;
  padding: 10px 40px 40px;
   border-radius: 30px 5px 15px 50px;
}
.title{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  animation: translate 2s ease;
  font-family: Impact;
  color: #464545;
}
.text-skill{
  font-size: 1.2em;
  margin: 1em 0;
  animation: text 2s ease;
  font-family: Impact;
  color: #464545;
}
/* Processbar-Illustrator */
.process-bar-illustrator{
  width: 100%;
  height: 20px;
  background-color: #fefcf9;
  position: relative;
  border-radius: 10px;
}
.process-bar-illustrator:before{
  content: '';
  position: absolute;
  width: 70%;
  height: 20px;
  border-radius: 10px;
  background-color: #8caba8;
  animation: processbar-illustrator 2s ease-in;
}
/* End Processbar Illustrator */

/* Processbar Photoshop */
.process-bar-photoshop{
  width: 100%;
  height: 20px;
  background-color: #fefcf9;
  position: relative;
  border-radius: 10px;
}
.process-bar-photoshop:after{
  content: '';
  position: absolute;
  width: 80%;
  height: 20px;
  border-radius: 10px;
  background-color: #a2798f;
  animation: processbar-photoshop 2s ease-out;
}
/* End Processbar Photoshop */


/* Processbar Css */
.process-bar-css{
  width: 100%;
  height: 20px;
  background-color: #fefcf9;
  position: relative;
  border-radius: 10px;
}
.process-bar-css:before{
  content: '';
  position: absolute;
  width: 40%;
  height: 20px;
  border-radius: 10px;
  background-color: #8caba8;
  animation: processbar-css 2s ease-in-out;
}

/* End Processbar Css */

/* Processbar Html */
.process-bar-html{
  width: 100%;
  height: 20px;
  background-color: #fefcf9;
  position: relative;
  border-radius: 10px;
}

.process-bar-html:after{
  content: '';
  position: absolute;
  width: 80%;
  height: 20px;
  border-radius: 10px;
  background-color: #a2798f;
  animation: processbar-html 2s linear;
}
/* End Processbar Html */

/* Processbar Lab */
.process-bar-lab{
  width: 100%;
  height: 20px;
  background-color: #fefcf9;
  position: relative;
  border-radius: 10px;
}

.process-bar-lab:after{
  content: '';
  position: absolute;
  width: 70%;
  height: 20px;
  border-radius: 10px;
  background-color: #8caba8;
  animation: processbar-lab 2s linear;
}
/* End Processbar Lab */

/* Animation illustrator */
@keyframes processbar-illustrator{
  from{
    width: 0;
  }
  to{
    width: 70%;
  }
}
/* End Animation Illustrator*/

/* Animation Photoshop */
@keyframes processbar-photoshop{
  from{
    width: 0;
  }
  to{
    width: 80%;
  }
}
/* End Animation Photoshop */

/* Animation Css */
@keyframes processbar-css{
  from{
    width: 0;
  }
  to{
    width: 40%;
  }
}
/* End Animation Css*/

/* Animation Html */
@keyframes processbar-html{
  from{
    width: 0;
  }
  to{
    width: 80%;
  }
}
/* End Animation Html*/

/* Animation Lab */
@keyframes processbar-lab{
  from{
    width: 0;
  }
  to{
    width: 70%;
  }
}
/* End Animation Lab */
/*End Skills CSS*/

/*Gallery CSS*/
div.gallery {
  padding: 50px 0px
}

div.gallery a:hover {
  background-color: #a2798f;
}

div.gallery img {
  width: 70%;
  height: 70%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*End Gallery CSS*/

/*Slideshow gallery*/
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
  height: 800px;
  border: solid 1px rgba(0, 0, 0, .2);
  background-color: rgba(0, 0, 0, .15)
     
}

.mySlides a:hover {
  opacity: .7;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active-dot,
.dot:hover {
    background-color: #717171
}
/*End slideshow gallery css*/
